{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row" id="fondo">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <h2><strong>Iniciar Sesion</strong></h2>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <input class="btn btn-primary" type="submit" style="width: 100%;" value="{% trans 'Iniciar sesion' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>{% trans "Has olvidado tu contrasena" %}? <a
        href="{% url 'auth_password_reset' %}">{% trans "Restablecer" %}</a>!</p>
    <p>{% trans "No tienes cuenta" %}? <a href="{% url 'registration_register' %}">{% trans "Registrarte" %}</a>!</p>
  </div>
</div>
<br>
<style type="text/css" >
  #fondo{
      background-image: url("../static/core/img/fondos/punto.jpg");
      min-height: 100%;
      min-width: 1024px;
        
      /* Set up proportionate scaling */
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

  }

</style>
{% endblock %}