<!doctype html>
<html lang="es">

<head>
    <title>Stylist</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/manifest.json">
   
    {% load pwa %}
    {% progressive_web_app_meta %}

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static  'core/img/logo.ico' %}" type="ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'core/tablesorter/jquery.tablesorter.js' %}"></script>

    {% block css%}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'core/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
 
    <script src="{% static 'core/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
   


    <!-- Otos estilos-->
    <link rel="stylesheet" href="{% static '/core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static '/core/css/iconBar.css' %}">
    
   

</head>

<body>
    <div class="container-fluid" style="padding: 0; margin:0;">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #655B00;">
          

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Nosotros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#historia">Contacto</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#precios">Servicios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#precios">Blog</a>
                    </li>

                </ul>
                <a class="navbar-brand mx-auto" href="{% url 'home' %}">
                    <img src="{% static  'core/img/logo.png' %}" alt="logo" style="width:50px;">
                </a>
                <ul class="navbar-nav  ml-auto mx-auto">
                    <li class="nav-item active">
                       
                        <a href="https://api.whatsapp.com/send?phone=56956445216" target="_blank">
                            <a href="https://api.whatsapp.com/send?phone=56930931102" target="_blank"> 
                                <img src="{% static  'core/img/rrss/whatsapp.svg' %}" class="img-fluid"alt="logo" style="width:46px; padding-top:9%; "> 
                            </a>
                        </a>
                    </li>
                    <li class="nav-item active">
                         
                        <a href="https://www.facebook.com/paolatoledostylist/" target="_blank">
                            <img src="{% static  'core/img/rrss/facebook.svg' %}" class="img-fluid" alt="logo" style="width:50px;margin-left: 5px;">
                        </a>
                    </li>
                    <li class="nav-item active">
                       
                        <a href="https://www.instagram.com/paolatoledoestilista/" target="-black">
                            <img src="{% static  'core/img/rrss/instagram.svg' %}"class="img-fluid" alt="logo" style="width:53px; " > 
                        </a>    
                    </li>

                    {% if user.is_authenticated %}

                    <li class="nav-item active">
                        <a class="nav-link botonRedondeado" href="{% url 'auth_logout' %}" >
                            <img src="{% static  'core/img/componentes/cerrar.svg' %}" class="img-fluid" > 
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link " href="{% url 'auth_login' %}">
                            <img src="{% static  'core/img/componentes/Ingresar.svg' %}" > 
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}

    {% endblock %}

    
</body>

</html>