

{% extends 'core/base.html' %}



{% load static %}
<script type="text/javascript">
    
    var table = $('#tablaPrecios');
    
    $('#ordenServicio, #ordenPrecio')
        .wrapInner('<span title="sort this column"/>')
        .each(function(){
            
            var th = $(this),
                thIndex = th.index(),
                inverse = false;
            
            th.click(function(){
                
                table.find('td').filter(function(){
                    
                    return $(this).index() === thIndex;
                    
                }).sortElements(function(a, b){
                    
                    return $.text([a]) > $.text([b]) ?
                        inverse ? -1 : 1
                        : inverse ? 1 : -1;
                    
                }, function(){
                    
                    // parentNode is the element we want to move
                    return this.parentNode; 
                    
                });
                
                inverse = !inverse;
                    
            });
                
        });

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


{% block css %}

{% endblock %}

{% block content %}
<div class="container-fluid fondo">
    

    <div class="row justify-content">

        <div class="col-6" >
            <img class=" d-block img-fluid" src="{% static  'core/img/logo.png' %}" height="60%" width="60%" 
            style=" z-index:1; margin-top:12%; margin-left:15%;">
            <div class="container-fluid">
                <a href="{% url 'agendar' %}">
                    <img src="{% static  'core/img/componentes/reserva.svg' %}" class="d-block img-fluid" height="70%" width="70%" style=" margin-top:10%; margin-left:10% ">
        
                </a>
            </div>
        </div>
        <div class="col-6"></div>
      </div>
</div>




<div>
    <img src="{% static  'core/img/componentes/Separador.svg' %}" class="img-fluid mx-auto" >
</div>
<div id="sobreNosotros" class="container-fluid">
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-10" style="background-color: white">
            <img src="{% static  'core/img/componentes/nosotros.svg' %}" width="100%" >
            <br><br><br>
            <div class="row"  style="background-color: white">
                <div class="col-sm-5 ">
                   <p>
                    MISIÓN:

                    Nuestro mayor interés durante estos tiempos es que las mujeres del Gran Concepción
                    se sientan bellas y seguras de sí mismas, entregándoles confianza y profesionalismo. 
                    Para ello contamos con un equipo especializado y dispuesto a satisfacer sus necesidades estéticas
                    y de belleza; capilares y de masajes, con alta tecnología y un servicio de excelencia y personalizado
                    ¡Confía en nosotros para marcar la diferencia!
                
                   </p>
                   <br>
                   <p>
                    VISION
                    
                    Soñamos con posicionar nuestro Salón de Belleza Integral
                    como la opción más confiable para el cuidado de tu estética corporal,
                    aportando en el bienestar de la comunidad de una manera sustentable.
                   </p>
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-5 ">
                    <img src="../static/core/img/fondos/foto.png" class="img-fluid">
                </div>
            </div>
            <br>
            <br>
            <img src="{% static  'core/img/componentes/Direccion.svg' %}" width="100%" >
            <br><br>
            <div class="row"  style="background-color: white">
                <br><br>
                <div>
                    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1130.2591855932167!2d-73.08240886470522!3d-36.750033663907146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96684aaeaee47d51%3A0x6fade6ac7040d37c!2zUGplLiA4IDgyOCwgVGFsY2FodWFubywgQsOtbyBCw61v!5e0!3m2!1ses-419!2scl!4v1587955788000!5m2!1ses-419!2scl"  frameborder="0" width="100%" height="300px" allowfullscreen="" aria-hidden="false" tabindex="0"><br>
                        <br></iframe>
                </div>

                <br><br>
                <img src="{% static  'core/img/componentes/bloque.svg' %}" width="100%" >
                <br><br><br>
                <img src="{% static  'core/img/componentes/trabajos.svg' %}" width="100%" >
                <br><br><br>
                <div class="row"  style="background-color: white">
                    <br><br>
                    <div class="col-sm-5 ">
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAt37Vpgl02/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                        </div>
                        <br><br><br>
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAc4cQnga_G/embed" class="embed-responsive-item" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

                        </div>
                        <br><br><br>
                        
                    </div>
                    <div class="col-sm-2 "></div>
                    <div class="col-sm-5 ">
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CB6wjRsgKvH/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

                        </div>
                        <br><br><br>
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAbL0hEhdhz/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                        </div>
                    </div>
                    <br><br><br>
                </div>
                <br><br><br>
                <img src="{% static  'core/img/componentes/valoraciones.svg' %}" width="100%" >
                <br><br><br>

            </div>
            <div class="row"  style="background-color: white">
                <br><br><br>
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

   
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <svg class="bi bi-file-arrow-up" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M4.646 7.854a.5.5 0 00.708 0L8 5.207l2.646 2.647a.5.5 0 00.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M8 12a.5.5 0 00.5-.5v-6a.5.5 0 00-1 0v6a.5.5 0 00.5.5z" clip-rule="evenodd"/>
    </svg>
</button>

<br>
<div class="division" id="precios"></div>
<br>
<div id="listaPrecios" class="container">
    <h2>Listado de precios</h2>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <a href="{% url 'agendar' %}" style="text-decoration:none">
                <button id="btnAgendar" class="circleButton" >
                    <h5 class="textoAgendar">Agenda aquí</h5>
                 </button>
            </a>
           
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <table class="tablesorter table table-striped" id="tablaPrecios">
                <thead class="thead-dark">
                    <tr>
                        <th id="ordenServicio">Servicio</th>
                        <th id="ordenPrecio">Precio</th>
                    </tr>
                </thead>
                {% for s in servicio %}
                <tbody >
                    <tr>
                        <td class="table-info">{{ s.nombre }}</td>
                        <td class="table-info"><strong>$</strong>{{ s.precio }}</td>
                    </tr>
                </tbody>
                {% endfor %}

            </table>
            <h6><strong>*Algunos precios pueden variar</strong></h6>  
        </div>
        
    </div>  
</div>
<br>
<div class="division" id="precios"></div>
<br>
<div class="row">
    <div class="col-sm-4" >
    </div>
    <div class='col-sm-4 col-sm-offset-3' id="contacto">
        <form method="POST" action="">
            {% csrf_token %}
            <h4 class="card-title">Contactenos</h4>
            <table>
                {{form.as_table}}
            </table>
            <a href=""><button type="submit" class="btn btn-primary">Enviar</button></a>
        </form>
    </div>

</div>
<br>

<footer>


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <p class="fundadores" style="text-align: center;">Paola Toledo | Armando Martínez | Hernán Hernández</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
</footer>
<script>
        //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }



</script>

<style>
    .fondo{
        background-image: url("../static/core/img/fondos/index.png");
        min-height: 100%;
        min-width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }
</style>
      
{% endblock %}

