

{% extends 'core/base.html' %}



{% load static %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


{% block css %}

{% endblock %}

{% block content %}
<div class="container-fluid fondo">
    

    <div class="row justify-content">

        <div class="col-6" >
            <img class=" d-block img-fluid" src="{% static  'core/img/logo.png' %}" height="60%" width="60%" 
            style=" z-index:1; margin-top:12%; margin-left:15%;">
            <div class="container-fluid">
                <a href="{% url 'agendar' %}">
                    <img src="{% static  'core/img/componentes/reserva.svg' %}" class="d-block img-fluid" height="70%" width="70%" style=" margin-top:10%; margin-left:10% ">
        
                </a>
            </div>
        </div>
        <div class="col-6"></div>
      </div>
</div>




<div>
    <img src="{% static  'core/img/componentes/Separador.svg' %}" class="img-fluid mx-auto" >
</div>
<div id="sobreNosotros" class="container-fluid">
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-10" style="background-color: white">
            <img src="{% static  'core/img/componentes/nosotros.svg' %}" id="nosotros" width="100%" >
            <br><br><br>
            <div class="row"  style="background-color: white">
                <div class="col-sm-5 ">
                   <p>
                    MISIÓN:

                    Nuestro mayor interés durante estos tiempos es que las mujeres del Gran Concepción
                    se sientan bellas y seguras de sí mismas, entregándoles confianza y profesionalismo. 
                    Para ello contamos con un equipo especializado y dispuesto a satisfacer sus necesidades estéticas
                    y de belleza; capilares y de masajes, con alta tecnología y un servicio de excelencia y personalizado
                    ¡Confía en nosotros para marcar la diferencia!
                
                   </p>
                   <br>
                   <p>
                    VISION
                    
                    Soñamos con posicionar nuestro Salón de Belleza Integral
                    como la opción más confiable para el cuidado de tu estética corporal,
                    aportando en el bienestar de la comunidad de una manera sustentable.
                   </p>
                </div>
                <div class="col-sm-1 "></div>
                <div class="col-sm-5 ">
                    <img src="../static/core/img/fondos/foto.png" class="img-fluid" height="100%">
                </div>
            </div>
            <br>
            <br>
            <img src="{% static  'core/img/componentes/Direccion.svg' %}" id="direccion" width="100%" >
            <br><br>
            <div class="row"  style="background-color: white">
                <br><br>
                <div class=" container-fluid">
                    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1130.2591855932167!2d-73.08240886470522!3d-36.750033663907146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96684aaeaee47d51%3A0x6fade6ac7040d37c!2zUGplLiA4IDgyOCwgVGFsY2FodWFubywgQsOtbyBCw61v!5e0!3m2!1ses-419!2scl!4v1587955788000!5m2!1ses-419!2scl"  frameborder="0" width="auto" height="300px" allowfullscreen="" aria-hidden="false" tabindex="0"><br>
                        <br></iframe>
                </div>

                <br><br>
                <img src="{% static  'core/img/componentes/bloque.svg' %}" width="100%" >
                <br><br><br>
                <img src="{% static  'core/img/componentes/trabajos.svg' %}" id="trabajos" width="100%" >
                <br><br><br>
                <div class="row"  style="background-color: white">
                    <br><br>
                    <div class="col-sm-5 ">
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAt37Vpgl02/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                        </div>
                        <br><br><br>
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAc4cQnga_G/embed" class="embed-responsive-item" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

                        </div>
                        <br><br><br>
                        
                    </div>
                    <div class="col-sm-2 "></div>
                    <div class="col-sm-5 ">
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CB6wjRsgKvH/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

                        </div>
                        <br><br><br>
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="https://www.instagram.com/p/CAbL0hEhdhz/embed" class="embed-responsive-item" width="320" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                        </div>
                    </div>
                    <br><br><br>
                </div>
                <br><br><br>
                <img src="{% static  'core/img/componentes/valoraciones.svg' %}" width="100%" >
                <br><br><br>

            </div>
            <div class="row"  style="background-color: white">
                <br><br><br>
                <div class="container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="">Nombre</label>
                          <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Ingrese su nombre">
                       
                        </div>
                        <div class="form-group">
                          <label for="">Comentario</label>
                          <input type="text" class="form-control" id="comentario" name="comentario" placeholder="Comentario">
                        </div>
                        <div class="form-group">
                            <label for="">Valoración</label>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                --><label class="star" for="radio1">★</label><!--
                                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                --><label class="star" for="radio2">★</label><!--
                                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                --><label class="star" for="radio3">★</label><!--
                                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                --><label class="star" for="radio4">★</label><!--
                                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                --><label class="star" for="radio5">★</label>
                            </p>
                        </div>

                        <button type="submit" class="comment" style="width: 100%;"> 
                            <img src="{% static  'core/img/componentes/valorar.svg' %}" class="img-fluid" width="100%" >
                        </button>
                    </form>
                      <br><br><br>

                </div>
                <br><br>
                
            </div> 
        </div>            
   </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <svg class="bi bi-file-arrow-up" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M4.646 7.854a.5.5 0 00.708 0L8 5.207l2.646 2.647a.5.5 0 00.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M8 12a.5.5 0 00.5-.5v-6a.5.5 0 00-1 0v6a.5.5 0 00.5.5z" clip-rule="evenodd"/>
    </svg>
</button>

<footer>
    <div class="container-fluid" style="width: 100%; padding: 0%; margin:0%;">
        <img src="{% static  'core/img/componentes/footer.svg' %}" class="img-fluid" width="100%" >
    </div>
</footer>

<script>
        //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }



</script>

<style>
    .fondo{
        background-image: url("../static/core/img/fondos/index.png");
        min-height: 100%;
        min-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Set up proportionate scaling */
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .star{ 
        color:grey;
        font-size: 50px;
    }

    input[type = "radio"]{ 
        display:none;
    }

    .clasificacion{
        direction: rtl;/* right to left */
        unicode-bidi: bidi-override;/* bidi de bidireccional */
    }

    .star:hover{
        color:orange;
    }

    .star:hover ~ label{
        color:orange;
    }

    input[type = "radio"]:checked ~ .star{
        color:orange;
    }

    button{
        border-radius:0;
        outline:none;
        border: 0;
    }

</style>
      
{% endblock %}

